:root {
  // Base Colors
  --blue: #00b0f0;

  --darkest: #000;
  --dark: #222;
  --middle: #666;
  --ligh: #dedede;
  --lighest: #fff;

  --darker-1: rgba(0, 0, 0, .5);
  --darker-2: rgba(0, 0, 0, .25);
  --darker-3: rgba(0, 0, 0, .125);

  --lighter-1: hsla(0, 100%, 100%, .5);
  --lighter-2: hsla(0, 100%, 100%, .25);
  --lighter-3: hsla(0, 100%, 100%, .125);


  // Background & Foreground
  --primary: var(--blue);
  --primaryText: var(--ligh);

  --secondary: #9b26af;
  --secondaryLight: rgba(155, 38, 175, 0.25);
  --secondaryText: var(--ligh);
  --secondaryTextHover: var(--lighest);

  // Fonts
  --system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-mono: "Jetbrains Mono", "Fira Code", Menlo, Monaco, "DejaVu Sans Mono", monospace;
}

* {
  box-sizing: inherit;
}

html {
  background: var(--primary);
  font-size: 16px;
}

body {
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  font-family: var(--system-font);
  background: var(--ligh);
  color: var(--dark);
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.flex-spacer {
  flex-grow: 1;
}

@import "partials/header";
@import "partials/content";
@import "partials/footer";
@import "partials/layout";
@import "partials/markdown";
@import "partials/changelog";


