// Layout
body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "head body" "foot foot";

  > header {
    display: flex;
    flex-direction: column;

  }
}
